# Binaries
/vocab
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# GUI build output
build/bin/

# Frontend
frontend/node_modules/
frontend/dist/

# Data dir ignores user data
/data/user/

# IDE
.vscode/
.idea/
*.swp
*.swo
